.message{
    margin: 0.3rem;
    text-align: right;

    &-user{
        margin: 0;
        font-weight: 700;
        font-size: 1.25rem;
    }

    &-text{
        margin: 0;
    }

    &-interlocutor{
        text-align: left;
    }
}