.container{
    width: 600px;
    margin: 0 auto;
}

.message_field{
    border: 2px solid lightgrey;
    padding: 5px;
    margin-bottom: 10px;

    &-header{
        color: darkgrey;
        font-size: 2rem;
        padding-top: 50px;
    }

    &-message{
        margin: 0.3rem;
    }

    &-button{
        display: block;
        margin-left: auto;
        padding: 5px;
    }
}
